@import url("https://fonts.googleapis.com/css2?family=Goldman&family=Space+Mono:wght@700&display=swap");

:root {
  --fondo-principal: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 28, 107, 1) 60%,
    rgba(0, 58, 125, 1) 100%
  );
}

* {
  font-family: "Goldman", cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background: var(--fondo-principal);
}

.nav-img {
  height: 4rem;
}

.pie-pagina {
  width: 100%;
  background-color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.pie-pagina .grupo-1 {
  width: 100%;
  max: width 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
  width: 250px;
}

.pie-pagina .grupo-1 .box a {
  color: white;
  margin-bottom: 25px;
  font-size: 20px;
  text-decoration: none;
}

.pie-pagina .grupo-1 .box p {
  color: white;
  margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: white;
  margin-right: 10px;
  background-color: black;
  text-align: center;
  transition: all 800ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
  color: blue;
}
.pie-pagina .grupo-2 {
  background-color: black;
  padding: 15px 10px;
  text-align: center;
  color: white;
}
.pie-pagina .grupo-2 small {
  font-size: 15px;
}

@media screen and (max-width: 800px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
.pie-pagina .grupo-1 .box h4 {
  color: white;
  margin-bottom: 25px;
  font-size: 20px;
  text-decoration: none;
}

.pie-pagina .grupo-1 .box {
  color: white;
  margin-bottom: 25px;
  font-size: 15px;
  text-decoration: none;
}
