@import url("https://fonts.googleapis.com/css2?family=Goldman&family=Space+Mono:wght@700&display=swap");
:root {
  --fondo-principal: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 28, 107, 1) 60%,
    rgba(0, 58, 125, 1) 100%
  );
}

* {
  font-family: "Goldman", cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62, 5%;
}

.navbar {
  background: var(--fondo-principal);
}
.nav-img {
  height: 4rem;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.imgerror {
  width: 50%;
}

.contenedor {
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

h1 {
  color: rgb(233, 238, 245);
  font-size: 20px;
  padding: 20px;
}

button {
  padding: 13px 30px;
  border-radius: 15px;
  border: none;
  background: rgb(5, 129, 245);
  color: white;
}

.pie-pagina {
  width: 100%;
  background-color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.pie-pagina .contacto ul li {
  margin: 1rem;
}

.pie-pagina .contacto ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
}

.pie-pagina .contacto ul li a:hover {
  color: blue;
}

.pie-pagina .siguenos a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

.pie-pagina .siguenos a:hover {
  color: blue;
}

.pie-pagina .grupo-2 {
  text-align: center;
  padding: 1rem 0.6rem;
  color: white;
}

.main {
  background-color: black;
}

.row {
  margin-bottom: 2rem;
}

h1 {
  color: antiquewhite;
}

.link {
  text-decoration: none;
}

h5 {
  color: antiquewhite;
}

span {
  background-color: aliceblue;
}

@media screen and (max-width: 630px) {
  .tituloerror {
    font-size: 16px;
  }
  .imgerror {
    height: 30%;
  }
}
@media screen and (max-width: 800px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}
