@import url("https://fonts.googleapis.com/css2?family=Goldman&family=Space+Mono:wght@700&display=swap");
:root {
  --fondo-principal: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 28, 107, 1) 60%,
    rgba(0, 58, 125, 1) 100%
  );
}

* {
  font-family: "Goldman", cursive;
  margin: 1rem;
  padding: 1rem;
  box-sizing: border-box;
  font-size: 62, 5%;
}
.body {
  background-color: black;
  color: white;
  align-items: center;
  text-align: center;
}

.form {
  color: black;
}

.seccion_promociones .card_promo {
  background: var(--fondo-principal);
  text-align: center;
  box-shadow: -2px -2px 2px rgb(169, 167, 167);
}

.seccion_promociones .card_promo h4,
h5,
p {
  color: white;
  font-style: normal;
}

.seccion_promociones .card_promo p {
  color: orangered;
  font-family: Arial, Helvetica, sans-serif;
}
